<header role="banner">
  <div class="container">
    <h1 class="title"><a href="/">Shaun Dillon</a></h1>
    <div class="navigation-icon"><span></span></div>
  </div>
  <nav role="navigation" class="clearfix main-navigation">   
    <div class="main-navigation__container container">  
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="http://codepen.io/ShaunYearStrong">My experiments</a></li>
      </ul>  
    </div>
  </nav>  
</header>