.container {
  max-width: 1100px;
  margin: 0 auto;
  @include rem(padding, 0 1rem);
  position: relative;

  &:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
  }

  @media #{$large} {
    @include rem(padding, 0 2rem);
  }

}

.site__body, .sidebar {
  width: 100%;
  
  @media #{$large} {
    float: left; 

    .post & {
      float: none;
      margin: 0 auto;
    }
  }
  
}

.site__body {
  @include rem(margin, 0);
  @include rem(padding, 2rem 0);
  @media #{$large} {
    width: 65%;
  }
}

.sidebar {
    @include rem(margin, 0);
    @include rem(padding, 2rem 0);
    border-top: 3px solid $border-grey;
    border-bottom: 3px solid $border-grey;


  @media #{$large} {
    width: 30%;
    margin-left: 5%;

    .post & {
      width: auto;
    }
  }

}

//Clearfix
.clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }