header {
  border-bottom: 2px solid $red;

  @media #{$medium} {
    @include rem(padding, 2rem 2rem 0);
  }

  h1 {

    @include rem(margin, 1rem);

    @media #{$large} {
      float: left;
      margin-bottom: 0;
    }
    
    a{
      color: $blue;
      @include rem(font-size, 4rem);
      text-decoration: none;
    }
  }
}