header {
  @include rem(padding, 2rem 2rem 0);
  border-bottom: 2px solid $red;

  h1 {
    
    float: left;
    margin-bottom: 0;
    
    a{
      color: $blue;
      @include rem(font-size, 4rem);
      text-decoration: none;
    }
  }
  nav {
    position: absolute;
    right: 0;
    bottom: 0;

    li {
      float: left;
      @include rem(margin-left, 2rem);
      @include rem(padding, 1.5rem 1rem);

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background: $blue;

        a {
          color: $white;
        }
      }      
    }
  }
}