// Main nav - Thanks to http://codepen.io/pedrocampos/pen/gufrx for the icon animations
header {
  position: relative;

  .navigation-icon {


    $nav-width: 25px;
    $nav-height: 25px;

    position: absolute;
    right: 10px;
    bottom: 0;
    cursor: pointer;
    @include inline-block;
    width: $nav-width;
    height: $nav-height;
    @include rem(margin, 1rem);

    
    span, span:before, span:after {
      width: $nav-width;
      height: 5px;
      background-color: $teal;
      display: block;
    }

    span {

      margin: 0 auto;
      position: relative;
      top: 10px;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;

      &:before, &:after {
        position: absolute;
        content: '';
      }

      &:before {
        margin-top: -10px;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: .2s;
        -webkit-transition-delay: .2s, 0;
        transition-property: margin, -webkit-transform;
        transition-duration: .2s;
        transition-delay: .2s, 0;
      }

      &:after {
        margin-top: 10px;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: .2s;
        -webkit-transition-delay: .2s, 0;
        transition-property: margin, -webkit-transform;
        transition-duration: .2s;
        transition-delay: .2s, 0;
      }
    }
    
    &.active {
      span {
        background-color: rgba(0,0,0,0.0);
        -webkit-transition-delay: .2s;
        transition-delay: .2s;

        &:before {
          margin-top: 0;
          -webkit-transform: rotate(45deg);
          -webkit-transition-delay: 0, .2s;
          transform: rotate(45deg);
          transition-delay: 0, .2s;
        }

        &:after {
          margin-top: 0;
          -webkit-transform: rotate(-45deg);
          -webkit-transition-delay: 0, .2s;
          transform: rotate(-45deg);
          transition-delay: 0, .2s;
        }
      }
    }

    @media #{$large} {
      bottom: 10px;
    }
  }

  nav {
    background: $grey;
    width: 100%;
    border-bottom: 2px solid $dark-grey;
  }  

  .main-navigation__container {
    display: none;

    &.active {
      display: block;
    }

    li {      
      border-top: 1px solid $dark-grey;
      text-align: center;

      &:first-child {
        border: 0;
      }

      a {
        color: $text-black;
        display: block;
        @include rem(padding, 1.5rem 0);
      }
    }  
  }

}