.sidebar {

  .author {
    margin-bottom: 2rem;
  }

  .author__description {
    font-family: $header-font-family;
    @include rem(font-size, 2rem);
  }

  .social-links {

    ul {
      text-align: justify;
      
      @media #{$mama-bear} {
        text-align: left;
        @include rem(margin-right, 1rem);
      } 

      &:after {
        content: '';
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        @include inline-block;
      }
    }

    li {

      @include inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 2px solid $red;
      background: $white;

      a {
        display:block;
        width:100%;
        height:100%;
        @include rem(font-size, 2.5rem);
        color: $red;
        line-height: 41px;
        text-align: center
      }
      
      &:hover {
        border: 2px solid $white;
        background: $red;

        a {
          color: $white;
        }

      }
    }

  }
}