@import url("http://fonts.googleapis.com/css?family=Bitter|Open+Sans:400italic,400,600");

h1, h2, h3, h4, h5, h6 {
  color: $red;
  font-family: $header-font-family;
  font-weight: $regular;
  @include rem(margin-bottom, 2rem);
  line-height: $base-line-height;   
  text-rendering: optimizelegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  font-weight: inherit;
}

h1 { 
  @include rem(font-size, 2.8rem); 
}

h2 { 
  @include rem(font-size, 2.4rem);
}

h3 { 
  @include rem(font-size, 2rem);
}
h4 { 
  @include rem(font-size, 1.8rem);
}
h5 { 
  @include rem(font-size, 1.4rem);
}
h6 { 
  @include rem(font-size, 1.2rem);
}

@media #{$medium} {

  h1 { 
    @include rem(font-size, 3rem); 
  }

  h2 { 
    @include rem(font-size, 2.8rem);
  }

  h3 { 
    @include rem(font-size, 2.4rem);
  }
  h4 { 
    @include rem(font-size, 2rem);
  }
  h5 { 
    @include rem(font-size, 1.8rem);
  }
  h6 { 
    @include rem(font-size, 1.4rem);
  }

}

@media #{$large} {

  h1 { 
    @include rem(font-size, 3.6rem); 
  }

  h2 { 
    @include rem(font-size, 3rem);
  }

  h3 { 
    @include rem(font-size, 2.6rem);
  }
  h4 { 
    @include rem(font-size, 2.2rem);
  }
  h5 { 
    @include rem(font-size, 2rem);
  }
  h6 { 
    @include rem(font-size, 1.8rem);
  }

}

em { 
  font-style: italic; 
}
strong { 
  font-weight: $bold; 
}

a {

  color: $red;
  text-decoration: none;
  font-weight: $bold;
  
}

p {
  line-height: $base-line-height;
  @include rem(font-size, 1.4rem);

  @media #{$medium} {
    @include rem(font-size, 1.6rem);
  }

  @media #{$large} {
    @include rem(font-size, 1.8rem);
  }
  a {

    &:hover {
      background: $red;
      color: $white;
      outline: 2px solid $red;
    }

  }
}

figure, pre {

  @include rem(margin-bottom, 2rem); 
  @include rem(padding, 1.5rem);
  background: #f5f5f5;
  border: 1px solid $border-grey; 
  
  img {
    border: 1px solid $border-grey;
  }

}

figcaption {
  text-align: center;
  font-family: $header-font-family;
  color: $blue;
  @include rem(margin-top, 1.5rem);
  font-style: italic;
  @include rem(font-size, 1.2rem);

  @media #{$medium} {
    @include rem(font-size, 1.4rem);
  }


}

pre {
  line-height: $base-line-height;
  font-family: monospace;
  overflow: auto;
}

code {
  font-family: monospace;
  @include rem(padding, 0.2rem 0.5rem);
  background: #f5f5f5;
  border: 1px solid $border-grey;
}